.questions-page {
  background-image: url("../img/questions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(47, 50, 75, 0.85);
  background-blend-mode: overlay;

  padding-top: 68px;
}

.questions__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #fff;

  padding-right: 26px;
  margin-bottom: 17px;
}

.questions__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);

  margin-bottom: 50px;
}

#info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

#info-form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  border: none;
    
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

#info-form input {
  width: 423px;
  height: 44px;
  background-color: transparent;
  outline: none;
  border: 1.38px solid #fff;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
    
  padding: 9px 24px;
}

#info-form input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
}

#info-form button {
  width: 218px;
  height: 48px;
  border-radius: 50px;
  box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.3);
  background: #15a9cb;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;

  padding-bottom: 1px;
}

.questions__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.questions__text a {
  position: relative;
  color: #4a76a8;
}

.questions__text a::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 1px;
  background: #4a76a8;
  top: 95%;
  left: 0px;
}

@media (max-width: 1024px) {
  .questions-page {
    background-image: url("../img/questions-1024.jpg");
  }

  .questions__title {
    font-size: 32px;
    margin-bottom: 16px;
  }
    
  .questions__subtitle {
    font-size: 20px;
  }

  #info-form {
    margin-bottom: 30px;
  }
    
  #info-form fieldset {
    gap: 20px;
  }
    
  #info-form input {
    border: 2px solid #fff;
    width: 377px;
    height: 39px;
    padding: 8px 23px;
    font-size: 20px;
  }
    
  #info-form input::placeholder {
    font-size: 20px;
  }
    
  .questions__text {
    font-size: 17px;
  }
    
  .questions__text a {
    position: relative;
    color: #4a76a8;
  }
    
  .questions__text a::after {
    content: "";
    width: 73px;
  }

  .section:last-child {
    padding-bottom: 56px;
  }
}

@media (max-width: 320px) {
  .questions-page {
    background-image: url("../img/questions-320.jpg");
  }

  .questions__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
    
  .questions__subtitle {
    font-size: 12px;
    margin-bottom: 35px;
  }
    
  #info-form fieldset {
    gap: 15px;
    margin-bottom:  45px;
  }
    
  #info-form input {
    padding: 6px 18px;
    font-size: 14px;
    border: 1px solid #fff;
    width: 289px;
    height: 28px;
  }
    
  #info-form input::placeholder {
    font-size: 14px;
  }
    
  .questions__text {
    font-size: 11px;
  }
    
  .questions__text a {
    position: relative;
    color: #4a76a8;
  }
    
  .questions__text a::after {
    content: "";
    width: 49px;
  }

  .section:last-child {
    padding-bottom: 30px;
  }
}